
body{
    min-height: 100vh;
    min-width: 100vw;
 
  
}
.colorBtn{

padding: 0.5rem 0.25rem;
height: 50px;
border-radius: 7px;
text-transform: capitalize;
cursor: pointer;
outline: none;
}

.colorBtn:hover{
background-color:grey;
}

.container{
    text-align: center;
    display: inline-block;
    margin:auto;
    width: 100%;
}

.quote-container{
    text-align: center;
    display: block;
    margin:auto;
    width: 80%;
    height: 300px;
    margin-top:200px;
}
