
body{
    min-height: 100vh;
    min-width: 100vw;
 
  
}
.colorBtn{

padding: 0.5rem 0.25rem;
height: 50px;
border-radius: 7px;
text-transform: capitalize;
cursor: pointer;
outline: none;
}

.colorBtn:hover{
background-color:grey;
}

.container{
    text-align: center;
    display: inline-block;
    margin:auto;
    width: 100%;
}

.quote-container{
    text-align: center;
    display: block;
    margin:auto;
    width: 80%;
    height: 200px;
    margin-top:200px;
}

.form{
    width: 80%;
    display: block;
    margin: auto;
    height: 300px;
    background-color: grey;
    border-radius:7px;
    margin-top:15px;

}
.form-label{
    font-size: 20px;
    display: block;
    width: 400px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

#message-field{
    font-size: 20px;
    display: block;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    border-radius:7px;
    text-align: center;
}



.message-button{
    font-size: 20px;
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius:7px;
    text-align: center;
}

.form-text{
    font-size: 20px;
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    border-radius:7px;
    text-align: center;
}

.output{
    font-size: 20px;
    display: block;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    border-radius:7px;
    text-align: center;
}